# Dependances npm
node_modules/

# Files d'environnement
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build/Dist
dist/
build/
